body {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
  font-style: Calibri;
  color: white;
  opacity:2;
background-image:url('canoe-dock.jpg');
background-size: 100%;
}

#wrapper{
margin: 40;
width:40%;
}