<DOCCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="description" content="create an account">
                <meta name="keywords" content="account">
                <link rel="stylesheet" type="text/css" href="static/css/main.css">
                <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
                <title> Create an account </title>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	</head>
	<body>

		<a href="http://people.ischool.berkeley.edu/~{{USER}}/server/index" style="text-decoration: none;">
                <h1>
                        brevitas
                </h1>
                <img src="static/header.jpg" width="100%" height="140"/>
                <div id="notHeader">
                        <h2>Create a free account</h2>
                        <p>to start saving, sharing, and discovering links</p>
                <div id="labelTextBox">
                        <div id="textboxLabel" >
                                Username:<br>
                                Email:<br>
                                Password:<br>
                                Confirm Password:
                        </div>
                        <div id="textBox"
                        <form name="create" method="post" action="create_account" onsubmit="return validPasswordEmail()">
                                <input type="text" name="username" placeholder="Username" size="30"/><span id="usernameError" class="err"> *Please enter a username.</span></br>
                                <input type="text" name="email" placeholder="Email address" size="30"/><span id="emailError" class="err">*Please enter a valid email. </span></br>
                                <input type="password" name="password" placeholder="Password" size="30"/><span id="passwordError" class="err">*Password must be 8 characters long and contain at least one of the following: an uppercase letter, a lowercase letter, and a digit 0-9. </span><span id="pwUsernameError" class="err">*Password cannot be the same as username</span><span id="pwEmailError" class="err">*Password cannot be the same as email</span></br>
                                <input type="password" name="password2" placeholder="Password again" size="30"/><span id="confirmError" class="err">*Password entries must match </span></br>
                                <input type="submit" onsubmit="return validPasswordEmail()" value="Create account!"/>
                                        {% if statusMessage %}
                                        <p>{{statusMessage}}</p>
                                {% endif %}
                        </form>
                        </div>
                </div>
                </div>
	<script src="static/letter.js">
        </body>
</html>

