<!DOCTYPE html>
  
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="create an account">
		<meta name="keywords" content="account">
		<title> Create an account </title>
		<link rel="stylesheet" type="text/css" href="static/css/main.css">

		<script>
			function test() {
				var password = document.forms['frm']['password'];
				var confirmpassword = document.forms['frm']['password2'];
				if (password.value == "" || password.value==null){
					alert ("Enter the password");
					password.focus();
					return false;
				}
				if ((password.value).length < 6 || (password.value).length > 20){
					alert ("Password should be between 6 and 20 characters");
					password.focus();
					return false;
				}
				if (confirmpassword.value == " "){
					alert ("Enter the Confirmation Password");
					return false;
				}
				if (confirmpassword.value != password.value){
					alert ("Password confirmation does not match.");
					return false;
				}
				return true;
			}
		</script>
	</head>
	<body>
		<h1>Create a free account</h1>
		<p>to start saving, sharing, and discovering links</p>
		<form name="frm" method="post" action="create_account" onsubmit="return test()">
			<input type="text" name="username" placeholder="Username" size="30"/></br>
			<input type="text" name="email" placeholder="Email address" size="30"/></br>
			<input type="password" name="password" placeholder="Password" size="30"/></br>
			<input type="password" name="password2" placeholder="Password again" size="30"/></br>
			<input type="submit" value="Create account!"/> 
			{% if statusMessage %}
				<p>{{statusMessage}}</p>
			{% endif %}
		</form> 
	</body>	
</html>
