<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<title>Link Shortener</title>
	</head>
	<body>
		<h1>
			brevitas
		</h1>
		<img src="static/header.jpg" width="100%" height="140"/>

		<div id="notHeader">
			<div id="createLogin" >
				{% if USERNAME %}
					<p> Welcome, {{USERNAME}}!
						<a href="http://people.ischool.berkeley.edu/~{{USER}}/server/myAccount"> My account </a> 
						<a href="http://people.ischool.berkeley.edu/~{{USER}}/server/logout">Logout</a>
					</p>
				{% else %}
					<a href="http://people.ischool.berkeley.edu/~{{USER}}/server/create_account">Create Account</a><br>
					<form method="POST" action="login" >
						<input type="text" id="username" name="username" placeholder="username"/> <br>
						<input type="password" id="password" name="password" placeholder="password"/> <br><br>
						<input type="submit" value="Log in"/>
					</form>
				{% endif %}
			</div>

			{% if statusMessage %}
				<p>{{statusMessage}}</p>
			{% endif %}

			<div class="links">
					<div>
						<label for="long">Enter the link to be shortened in the long field:</label><br>
						<input type="text" id="long" name="long" style="width:50%"> 	
					</div>
					<br>
					<div>
						<input type="radio" id="autoCreate" name="URL" value="autoCreate" checked="checked" onClick="clearCustom()">automatically create URL <br>
						<input type="radio" id="specify" name="URL" value="specify">shorten URL to
						<input type="text" id="short" name="short" style="width:20%" placeholder="Letters and numbers" onclick="selectCustom()">
					</div>
					<input type="submit" onClick="return allLetter()" value="Shorten!">
				</form>

				{% if shortURL %}
					Here's your new short URL:
						<div id="new_url">
							{{ shortURL }}
						</div>
				{% endif %}

			</div>
			<br><br>
			<div id="credits">
				Brought to you by:</br></br>
				Molly</br>
				Sandra</br>
				Sabina</br>
				Robyn</br>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="static/letter.js"></script>
	</body>
</html>
