<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <script type="text/javascript" src="static/table-sort.js"></script>
        <title>My Account</title>
    </head>
	<body>
		<h1>My Account Details</h1>
		<a href="index">Shorten Links</a>
		<br><br>
		<div id="links">
			{{LinkTable|safe}}
        </div>
	</body>
        <script src="static/table-sort.js"></script>
	<script type="text/javascript" src="static/jquery.js"></script>
</html> 
