<!DOCTYPE html>

<html>
	<head>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">        
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<title>Page Not Found</title>
	</head>
	<body>
		<h1>
			brevitas
		</h1>
		<img src="../static/header.jpg" width="100%" height="140"/>

		<div id="notHeader">
			<h2>Page Not Found</h2>
			<p>
				The page you requested was not stored on our server. To shorten a link, please to go 
				<a href="http://www.people.ischool.berkeley.edu/~{{USER}}/server">our main site.</a>
			</p>
		</div>
	</body>
</html>

