body {
margin: 0;
padding: 0;
color: #000;
font-size: 18px;
font-family: verdana, arial, helvetica, sans-serif;
color: white;
background-size: 100%;
background-image:url('canoe-dock.jpg');
text-align: center;
}

h1{
text-align: center;
font: Calibri;
color: #e48925;
}

p 
{
font-size: 60%;
color:#e42535;
}

table 
{
text-align: center;
margin-left: auto;
margin-right: auto;
}

.links
{
background-color: rgba(0,0,0,0.5);
text-align:center;
color:white;
}

.credits
{
text-align: center;
font-size: 12px;
}

/*Create_account css*/
#usernameError, #emailError, #passwordError, #pwUsernameError, #pwEmailError, #confirmError{
display:none;
}

