body {
	font-size: 12pt;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #333;
	background-size: 100%;
	background-attachment: fixed;
	text-align: center;
	color-stop (0%,rgba(255,255,255,0.7)));
	background-color:#CCCC99;
}

h1{
	position: fixed;
	text-align: center;
	vertical-align: center;
	top: 0;
	left: 50px;
	z-index: 100;
	font-family: 'Poiret One', cursive;
	color: #990033;
	font-size: 50pt;
	height: 100px;
	width: 100px;
}

table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#notHeader{
	overflow: auto;
	margin: 0 auto;
	padding: 200px 0 0 0;
}

.credits{
	color: #555;
}

#newURL{
	color: #990033;
	font-size: 18pt;
}

.message{
	color: #990033;
}

#createLogin {
	color: white;
	width: 250px;
	position: fixed;
	top: 10px;
	right: 80px;
}

#err {
	color: #990033;
	font-size: 10pt;
}

img{
	position: fixed;
	left: 0;
	top: 0;	
}
/*Create_account css*/
#usernameError, #emailError, #passwordError, #pwUsernameError, #pwEmailError, #confirmError{
display:none;
}

#textboxLabel{
        border: 1px dashed black;
        font-size: 16px;
        float:left;
        text-align:right;
	line-height:160%;
        margin-right:10px;
}
#textBox{
        text-align: left;
        float:left;
        border: 1px dashed black;
}
#outerDiv{
        position:relative;
	left: 500px;
	width:600px;
	height:200px;
        border: 1px dashed red;
}
