body {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
  font-family: Helvetica;
  color: white;
background-size: 100%;
background-image:url('canoe-dock.jpg');
 text-align: center;
}



.links
{
background-color: rgba(0,0,0,0.5);
text-align:center;
 color:white;
}

h1 
{
    color:#e48925;
}

.credit {
font-size: 10px;
font-style: italic;
}
p {
    font-size: 60%;
    color:#e42535;
}
